<h1>Editing add quantity to line item</h1>

<%= render "form", add_quantity_to_line_item: @add_quantity_to_line_item %>

<br>

<div>
  <%= link_to "Show this add quantity to line item", @add_quantity_to_line_item %> |
  <%= link_to "Back to add quantity to line items", add_quantity_to_line_items_path %>
</div>
