<p style="color: green"><%= notice %></p>

<h1>Add quantity to line items</h1>

<div id="add_quantity_to_line_items">
  <% @add_quantity_to_line_items.each do |add_quantity_to_line_item| %>
    <%= render add_quantity_to_line_item %>
    <p>
      <%= link_to "Show this add quantity to line item", add_quantity_to_line_item %>
    </p>
  <% end %>
</div>

<%= link_to "New add quantity to line item", new_add_quantity_to_line_item_path %>
