<h1>New add quantity to line item</h1>

<%= render "form", add_quantity_to_line_item: @add_quantity_to_line_item %>

<br>

<div>
  <%= link_to "Back to add quantity to line items", add_quantity_to_line_items_path %>
</div>
